
:root {
  --main-background: #304158;
  --alt-background: #f4f4fa;
  --alt-background-2: #eeeaee;
  --alt-background-3: #fbfbf4;
}

body {
    background-color: var(--main-background);
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-family: 'Crimson Text', serif;
    font-size: 1.8em;
}

h2 {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    color: #333;
}

h3 {
    font-size: 1.45em;
    font-weight: normal;
    font-style: italic;
    font-family: 'Crimson Text', serif;
}

h4 {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    color: #444;
}

section {
    clear: both;
    /*background-color: #fdfaef;*/
    background-color: var(--alt-background);
    padding-bottom: 10px;
    padding-top: 10px;
    /*margin-top: 1px;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main {
    padding: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.medium {
    background-color: var(--alt-background-2);
}

.dark {
    background-color: var(--main-background);
}

.light {
    background-color: var(--alt-background-3);
}

.invert {
    color: #eaeaea;
}

.invert img {
    filter: invert(100%);
}

.circular {
    border-radius: 50%;
    border: solid 1px #fafafa;
    text-align: center;
    overflow: hidden;
    width: 300px;
    height: 300px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.circular img {
    width: 100%;
    height: auto;
    filter: saturate(80%);
}

.content {
    display: inline;
    padding: 8px;
}

.fixed {
    flex-grow: 0;
    margin: auto;
    padding: 20px;
}

.about {
    flex-grow: 1;
    width: 300px;
    padding-left: 50px;
    margin: auto;
}

.cell {
    flex-grow: 1;
    width: 200px;
    max-width: 200px;
    height: 200px;
}

.row {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom:30px;
}

.foot {
    padding: 5px;
}

.foot p {
    color: #aaa;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

.hgap {
    margin-top: 45px;
}

.contacts {
}

.center {
    text-align: center;
    margin: auto;
}

.contacts img {
    padding-right: 11px;
    height: 22px;
}

.contacts a {
    text-decoration: none;
}

.box {
    margin: 18px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.tool {
    flex-grow: 1;
    padding: 30px;
    width: 220px;
    max-width: 220px;
}

.service {
    flex-grow: 1;
    padding: 20px;
    width: 250px;
}

.box h4 img {
    height:60px;
}

ul {
    list-style-type: none;
    margin-top: -8px;
    background-color: #fbfbfb;
    border: 1px solid #f7f7f7;
    border-left: 2.5px solid #666;
    padding: 6px;
    padding-left: 10px;
    font-style: italic;
    color: #444;
}

.gray {
    color: #777;
}
